@page 
@model NHSPharmacySearch.Pages.ResultsModel
@{
}

 <div class="resultoutput">
@if(Model.Results.Count == 0) {   
    @ViewData["ErrorMessage"]
}
else
{
    <table>
     <tr>      
      <th>Organisation ID</th>
      <th>Organisation Name</th>
      <th>URL </th>            
      <th>Address1</th>
      <th>Address 2</th>
      <th>Address 3</th>
      <th>County </th>
      <th>Postcode </th>
  
    </tr>

       @foreach(var result in @Model.Results) {
       
         <tr>
         <td> @result.OrganisationID </td>
         <td> @result.OrganisationName </td>
         <td> @result.URL </td>
         <td> @result.Address1 </td>
         <td> @result.Address2 </td>
         <td> @result.Address3 </td>         
         <td> @result.County </td>
         <td> @result.Postcode </td>
     </tr>                  
        
        }
     </table>
 }
 </div>

 <input type="button" value="Start new search" asp-page="/Index" />




